.glider{
    z-index: -1 !important;
    margin-top: 5%;
    margin-bottom: 1%;
}

#dots{
    margin-bottom: 2%;
}

.dropdown-menu:hover{
    z-index: 1000 !important;
}

.glider-dot:hover, .glider-dot:focus, .glider-dot.active {
    background: #f787b2 !important;
}

.glider-dot{
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: black !important;
    border-radius: 999px;
    background: black;
    width: 12px;
    height: 12px;
    margin: 7px;
    opacity: 0.7;
}

#btnDireita, #btnEsquerda {
    transform: translateY(58px);
}

.glider-next{
    right: 30px !important;
    color: black !important;
}

.glider-prev{
    left: 30px !important;
    color: black !important;
}

.glider-prev:hover, .glider-prev:focus {
    color: #f787b2 !important;
}

.glider-next:hover, .glider-next:focus {
    color: #f787b2 !important;
}






