.glider{
    z-index: -1 !important;
    margin-top: 5%;
    margin-bottom: 1%;
}

#dots{
    margin-bottom: 2%;
}

.dropdown-menu:hover{
    z-index: 1000 !important;
}

.glider-dot:hover, .glider-dot:focus, .glider-dot.active {
    background: #f787b2 !important;
}

.glider-dot{
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: black !important;
    border-radius: 999px;
    background: black;
    width: 12px;
    height: 12px;
    margin: 7px;
    opacity: 0.7;
}

#btnDireita, #btnEsquerda {
    transform: translateY(58px);
}

.glider-next{
    right: 30px !important;
    color: black !important;
}

.glider-prev{
    left: 30px !important;
    color: black !important;
}

.glider-prev:hover, .glider-prev:focus {
    color: #f787b2 !important;
}

.glider-next:hover, .glider-next:focus {
    color: #f787b2 !important;
}

.container{
    background-color: white !important;
    padding: 0px;
}

.h2{
    display: flex;
    background-color: white;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    height: 50px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    color: #f787b2;
    text-shadow: 1px 2px 3px black;
}

.card{
    border-top: 1px solid rgba(0, 0, 0, 0.025) !important;
}

.produto{
    width: 20% !important;
    padding-bottom: 2%;
}

.produto .card{
    border-top: 1px solid rgba(0, 0, 0, 0.095) !important;
}

.nomeProduto{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.corpoProduto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.botoesProduto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn{
    box-shadow: 1px 1px 1px black; 
}

.btnCarrinho{
    background-color: #fcfc9c;
}

.btnFavorito{
    background-color: #f787b2;
}

.btnCarrinho:hover, .btnFavorito:hover{
    /* transform: translateY(-0.05em);
    transition: transform 0.5s ease-in-out; */
}

.imagemProduto{
    display: flex;
    justify-content: center;
}

.imagemProduto  img{
    max-width: 100% !important;
    max-height: auto;
    padding-bottom: 4%;
}

#bodyProdutos{
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
    justify-content: space-around;
}

@keyframes backgroundAnimado {
    0%  {background-position: 0 0}
    25% { background-position: 100% 100%}
    50% { background-position: 0 0}
    75% { background-position: 100% 100%}
    100% { background-position: 0 0}
}

.produtos{
    background-color:rgb(247,135,178, 0.60);
    background: url('/Imagens/Background.png') repeat 0 0;
    animation-name: backgroundAnimado;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.banners{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.banner{
    flex: 0 0 45%;
    display: flex; 
    height: 9.1rem;
    background-color: #fcfc9c;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 4px #212529;
    overflow: hidden;
}

#aneis:hover .background-imagem, 
#bonecos:hover .background-imagem,
#brincos:hover .background-imagem,
#colares:hover .background-imagem,
#portacopos:hover .background-imagem,
#pulseiras:hover .background-imagem,
#teclas:hover .background-imagem
{
    /* filter:blur(2px); */
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
    
}

#aneis .background-imagem,
#bonecos .background-imagem,
#brincos .background-imagem,
#colares .background-imagem,
#portacopos .background-imagem,
#pulseiras .background-imagem,
#teclas .background-imagem
{
    transition: transform .4s ease-in-out;
}

#aneis .banner-texto, 
#bonecos .banner-texto,
#brincos .banner-texto,
#colares .banner-texto,
#portacopos .banner-texto,
#pulseiras .banner-texto,
#teclas .banner-texto
{
    position: absolute;
    z-index: 100;
    font-size: 2.2rem;
    font-family: 'Lato', sans-serif;
    transition: transform .4s ease-in-out;
    color: #fcfc9c;
    text-shadow: 1px 1px 2px black;
}

#aneis:hover .banner-texto, 
#bonecos:hover .banner-texto,
#brincos:hover .banner-texto,
#colares:hover .banner-texto,
#portacopos:hover .banner-texto,
#pulseiras:hover .banner-texto,
#teclas:hover .banner-texto
{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
    color: #f787b2;
}

