html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}

#header{
    z-index: 20000 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

  
.header-content{
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
}

#container{
    margin-left: auto;
    margin-right: auto;
}
  
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.sticky + .content {
    padding-top: 200px;
}

.margin-top-20{
    margin-top: 20% !important;
}

.margin-top-5{
    margin-top: 5% !important;
}

.margin-b-5{
    margin-bottom: 5%;
}
/* */

/* Resizing of the header elements */
#logo{
    transition: transform 0.7s ease-in-out;
}

#searchbar{
    transition: transform 0.7s ease-in-out;
}

#login{
    transition: transform 0.7s ease-in-out;
}

#navHeader{
    transition: transform 0.7s ease-in-out;
}

.resizeLogo {
    transform: scale(0.6) translateY(-30%);
    transition: transform 0.7s ease-in-out;
}

.resizeSearchBar {
    transform: scale(0.8) translateY(-45%) !important;
    transition: transform 0.7s ease-in-out;
}

.resizeLogin {
    transform: scale(0.9) translateY(-100%)!important;
    transition: transform 0.7s ease-in-out;
}

.resizeNav{
    transform: translateY(-50px);
    transition: transform 0.7s ease-in-out;
}
/* */



/* Dropdown Hover effects */
.dropdown:hover > .dropdown-menu {
    display: block;
    transition: all 1.5s ease;
}

.dropdown-toggle::after {
    content: none;
}

/* Hover effect Nav Bar*/
.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fcfc9c;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%
}

.nav-link:hover {
    color: #ffc0cb !important;
}

.nav-link{
    color: #fff !important;
}
/* --- */



/*-- change navbar dropdown color --*/
.dropdown-menu a {
    color: #FFFFFF !important;
}

.dropdown-menu a:hover {
    color: #ffc0cb !important;
    background-color: #212529 !important;
}
/* --- */


/* Barra de Busca */
#searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ebcfe0;
    border-radius: 30px;
    padding: 10px;
    transform: scale(0.86);
}

#searchbar > .search_icon {
    background: white;
    color: #ffc0cb;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: red;
    padding: 0 10px;
    width: 800px;
    line-height: 40px;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffc0cb;
    text-decoration: none;
}
/* --- */


/*Login, Cadastro e Carrinho*/
#carrinho{
    color: black;
    transform: scale(1.4);
}

#Login {
    font-weight:900;
}
/* -- */



/* Logo Effect */
#logoImg:hover {
    transform: rotate(-15deg);
}

#logoImg {
    transform: scale(0.9);
    transition: transform 1s;
    box-shadow: black 3px 1px 5px 2px;
}
/* */
  
  
/* Height Header Transition*/  
.header-container{
    height: 170px;
    background-color: #f787b2;
    transition: height 0.7s ease-in-out;
}

.transition {
    height: 120px;
    transition: height 0.7s ease-in-out;
}
/* */
  
  