.anuncio{
    display: flex;
    gap: 3%;
    padding-top: 30px;
    width: 100%;
}

/* Imagens do produto */
.anuncioFotos{
    width: 65%;
    margin-left: 6%;
}

.glider-contain{    
    height: 60vh;
}

.glider{
    z-index: -1 !important;
    margin-bottom: 1%;
}

#dots{
    display: flex;
}

.glider-dot:hover, .glider-dot:focus, .glider-dot.active {
    background: #f787b2 !important;
}

.glider-dot{
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: black !important;
    border-radius: 999px;
    background: black;
    width: 12px;
    height: 12px;
    margin: 7px;
    opacity: 0.7;
}

.glider-next{
    right: 30px !important;
    color: black !important;
}

.glider-prev{
    left: 30px !important;
    color: black !important;
}

.glider-prev:hover, .glider-prev:focus {
    color: #f787b2 !important;
}

.glider-next:hover, .glider-next:focus {
    color: #f787b2 !important;
}

/* Dados do anuncio*/

.anuncioDados{
    border: 1px lightgray solid;
    border-radius: 7px;
    margin-right: 6%;
    padding: 0.6rem;
    width: 20%;
}

.btnCarrinho, .btnFavorito, .btnComprar{
    display: block !important;
    margin: 0.6rem auto !important;
    width: 80%;
}

.btnComprar{
    background-color: #212529;
    color: white;
}

/* Sugestões */

.sugestoes, .opinioes{
    padding: 1.5rem 6%;
}

.produtos{
    height: 280px;
    margin: 0 !important;
    width: 20% !important;
}

/* Opiniões */
.quadroOpinioes{
    padding: 0.5rem 1rem !important;
}

.formOpinioes{
    display: flex;
}

.textOpiniao{
    border: 1px #212529 solid;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-right: none;
    box-shadow: none;
    min-height: 80px;
    padding: 0.5rem;
    width: 40%;
    
}

.btnOpiniao{
    background-color: #f787b2;
    border: 1px #212529 solid;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-left: none;
    box-shadow: none;
    width: 10%;
}

.like, .dislike{
    background-color: white;
    border: none;
    color: #212529 !important;
    margin: 0 0.3rem;
    transition: all 1s ease-in-out;
}

.like :hover{
    color: #fcfc9c;
}

.like:active{
    color: #f787b2;
}

.dislike :hover{
    color: #f787b2;
}