.usuario{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
}

.card{
    border-radius: 0;
    border: 1px solid;
    border-bottom: 0px;
    border-left: 0px;
}

#cardDados {
    border-right: 0 !important;
    width: 60% !important;
}

#cardPerfil{
    width: 40% !important;
}

#perfilNome{
    width: 100% !important;
}

.perfil{
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    padding-top: 6%;
}

.perfilEditar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    width: 60%;
}

#gear{
    color: #f787b2;
}

.perfilEditar:hover i{
    animation-name: roda;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: transform 1s linear;
}

.perfilDados{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

a{
    color: #222222;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

a :hover{
    color: #f787b2 !important;
    transition: all 1s ease-in-out;
}

.usuarioCorpo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.historicoCompra{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.borda{
    height: 2.0rem;
    margin-bottom: 1%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 0.3rem;
    border: solid 1px rgba(0,0,0, 0.125);
    background: linear-gradient(90deg, rgba(252,252,156,1) 2%, rgba(247,140,177,1) 24%, rgba(247,140,177,1) 75%, rgba(252,252,156,1) 100%);
    animation:slidebg 150s linear infinite;
}

.borda h6{
    margin: 0px;
    height: 2.0rem;
}

.perfil img{
    border-radius: 50%;
}

/* Keyframes*/

@keyframes roda {
    0%{ transform: rotate(360deg)};
    100%{transform: rotate(-360deg);}
}

@keyframes slidebg {
    0%{background-position: 0vw}
    100%{background-position: 1000vw}
}

/**/