@page
@model TsukiWeb.Pages.ContatoModel
@{
    ViewData["Title"] = "Seja Bem Vindo a";
}

@section head
{
    <link rel="stylesheet" href="~/css/Contato.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.js"></script>
}

<div class="conteudo" id="conteudoPagina">
    <div class="background">
        <div class="container">
            <h3>Atendimento Personalizado</h3>
            <div class="contato">
                <form>
                    <div class="bordaBolada">
                        <label for="name">Nome </label>
                        <input class="inputContato" id="name" type="text" placeholder="Seu nome"  required>              
                        <label for="email">E-Mail </label>
                        <input class="inputContato" id="email" type="email" placeholder="Seu e-mail" required>                 
                        <label for="assunto">Assunto </label>
                        <input class="inputContato" id="assunto" type="text"  placeholder ="Assunto" required>
                        <label for="message">Mensagem </label>
                        <textarea id="message" class="inputContato" placeholder="Deixe sua mensagem" required></textarea>               
                        <button class="btnContato">Enviar</button>
                    </div>            
                </form>
                <div class="sociais">
                    <div class="bordaBolada">
                        <p>Fale com a gente</p>
                        <p><i class="fas fa-envelope"></i> lojatsuki@hotmail.com</p>
                        <p>Siga-nos nas redes Sociais</p>
                        <p><a href="https://www.instagram.com/lojatsuki_/" class="contatoInsta">@@lojatsuki_ <i class="fab fa-instagram"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>