@page
@model IndexModel
@{
    ViewData["Title"] = "Seja Bem Vindo a";
}
@section head
{
     <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
     <script src="~/js/Index.js"></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<div class="conteudo">
    <div class="row">
        <div class="col">
            <div class="glider-contain">
                <div class="glider">
                  <div>exemplo 1</div>
                  <div>exemplo 2</div>
                  <div>exemplo 3</div>
                  <div>exemplo 4</div>
                </div>

                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div id="dots">
                    <button data-index="0" aria-label="Page 1" role="tab" class="dot active"></button>
                    <button data-index="1" aria-label="Page 2" role="tab" class="dot"></button>
                    <button data-index="2" aria-label="Page 3" role="tab" class="dot"></button>
                    <button data-index="3" aria-label="Page 4" role="tab" class="dot"></button>
                </div>
            </div>
        </div>
    </div>
</div>
