@page
@model IndexModel
@{
    ViewData["Title"] = "Seja Bem Vindo a";
}
@section head
{
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <script src="~/js/Index.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<div class="conteudo" id="conteudoPagina">
    <div class="glider-contain">
        <div class="glider">
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
        </div>
        <button aria-label="Previous" class="glider-prev">
            <i class="fa-solid fa-circle-chevron-left" id="btnEsquerda"></i>
        </button>
        <button aria-label="Next" class="glider-next">
            <i class="fa-solid fa-circle-chevron-right" id="btnDireita"></i>
        </button>
        <div id="dots">
            <button data-index="0" aria-label="Page 1" role="tab" class="glider-dot active"></button>
            <button data-index="1" aria-label="Page 2" role="tab" class="glider-dot"></button>
            <button data-index="2" aria-label="Page 3" role="tab" class="glider-dot"></button>
        </div>
    </div>
    <div class="produtos">
        <div class="container">
            <div class="card">
                <div class="h2">
                    <h1>Produtos</h1>
                </div>
                <div class="card-body">
                    <div class="banners">
                        <div id="aneis" class="banner">
                            <div class="banner-texto">
                                <span>Anéis</span>
                            </div>
                            <div class="background-imagem"><img src="~/Imagens/Banners/Anel.png"/></div>
                        </div>
                        <div id="bonecos" class="banner">
                            <div class="banner-texto">
                                <span>Bonecos</span>
                            </div>
                            <div class="background-imagem"><img src="~/Imagens/Banners/Boneco.jpeg"/></div>
                        </div>
                        <div id="brincos" class="banner">
                            <div class="banner-texto">
                                <span>Brincos</span>    
                            </div>
                            <div class="background-imagem"><img src="~/Imagens/Banners/Brinco.png"/></div>
                        </div>
                        <div id="colares" class="banner">
                            <div class="banner-texto">
                                <span>Colares</span>
                            </div>
                            <div class="background-imagem colar"><img src="~/Imagens/Banners/Colar2.png"/></div>
                        </div>
                        <div id="portacopos" class="banner">
                            <div class="banner-texto">
                                <span>Porta-Copos</span>
                            </div>
                            <div class="background-imagem colar"><img src="~/Imagens/Banners/PortaCopo2.png"/></div>
                        </div>
                        <div id="pulseiras" class="banner">
                            <div class="banner-texto">
                                <span>Pulseiras</span>
                            </div>
                            <div class="background-imagem colar"><img src="~/Imagens/Banners/Pulseira.png"/></div>
                        </div>
                        <div id="teclas" class="banner">
                            <div class="banner-texto">
                                <span>Teclas</span>
                            </div>
                            <div class="background-imagem colar"><img src="~/Imagens/Banners/Tecla2.png"/></div>
                        </div>
                    </div>
                </div>
                <div class="h2">
                    <h1>Promoções</h1>
                </div>
                <div class="card-body">
                    <div id="bodyProdutos">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


