@page
@model IndexModel
@{
    ViewData["Title"] = "Seja Bem Vindo a";
}
@section head
{
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="~/js/Index.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<div class="conteudo" id="conteudoPagina">
    <div class="glider-contain">
        <div class="glider">
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
            <div>
                <img src="~/Imagens/ImagensCarrossel/Placeholder.png" />
            </div>
        </div>
        <button aria-label="Previous" class="glider-prev">
            <i class="fa-solid fa-circle-chevron-left" id="btnEsquerda"></i>
        </button>
        <button aria-label="Next" class="glider-next">
            <i class="fa-solid fa-circle-chevron-right" id="btnDireita"></i>
        </button>
        <div id="dots">
            <button data-index="0" aria-label="Page 1" role="tab" class="glider-dot active"></button>
            <button data-index="1" aria-label="Page 2" role="tab" class="glider-dot"></button>
            <button data-index="2" aria-label="Page 3" role="tab" class="glider-dot"></button>
            <button data-index="3" aria-label="Page 4" role="tab" class="glider-dot"></button>
        </div>
    </div>
    <div class="produtos">
        <div class="container">
            <div class="card">
                <div id="promocoes">
                    <h2>Promoções</h2>
                </div>
                <div class="card-body">
                    <div id="bodyProdutos">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


