@page
@model TsukiWeb.Pages.ProdutoModel
@{
     ViewData["Title"] = "Seja Bem Vindo a";
}

@section head
{
    <link rel="stylesheet" href="~/css/Produto.css" asp-append-version="true" />
    <script src="~/js/Produto.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.js"></script>
}

<div class="conteudo" id="conteudoPagina">
    <div class="produtos">
        <div class="container">
            <div class="anuncio">
                <div class="anuncioFotos">
                    <div class="glider-contain">
                        <div class="glider">
                        </div>
                    </div>
                </div>
                <div class="anuncioPreco">
                </div>
            </div>
        </div>
    </div>
</div>