<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Loja Tsukineko</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/glider/glider.css"/>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TsukiWeb.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1594d13570.js" crossorigin="anonymous"></script>
    <script src="~/lib/glider/glider.js"></script>
    <script src="~/js/Layout.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var imageUrl = '@Url.Content("~/Imagens/Produtos/")';
    </script>
    @RenderSection("head", false)
</head>
<body>
    <header>
        <div id="header" class="header-container">
            <div class="header-content" id="container">
                <div id="logo">
                    <a href="/#" data-toggle="tooltip" data-placement="bottom" title="Clique para acessar a pagina no Instagram" id="logo">
                        <img src="/Imagens/logo.jpg" alt="Logo da Loja Tsukineko" id="logoImg" class="rounded-circle border border-dark">
                    </a>
                </div>
                <div id="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Busque Aqui...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
                <div id="login">
                    <a href="" class="text-decoration-none text-black Login" style="margin-right: 4px" data-toggle="tooltip" title="Clique aqui para fazer seu Login!">Fazer Login </a>
                    <span> | </span>
                    <a href="" class="text-decoration-none text-black Login" style="margin-left: 4px" data-toggle="tooltip" title="Clique aqui para fazer seu Cadastro!"> Cadastre-se</a>
                    <a href="#" class="" style="margin-left: 15px" data-toggle="tooltip" title="Carrinho de Compras">
                        <i class="fas fa-shopping-cart" id="carrinho"></i>
                    </a>
                </div>
            </div>
            <nav id="navHeader" class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" data-hover="dropdown" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item px-2">
                                <a class="nav-link" aria-current="page" href="/Produto">Produto</a>
                            </li>

                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="/Lista" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                    Produtos
                                </a>
                                <div id="ddmenu" class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Anéis</a>
                                    <a class="dropdown-item" href="#">Bonecos</a>
                                    <a class="dropdown-item" href="#">Brincos</a>
                                    <a class="dropdown-item" href="#">Colares</a>
                                    <a class="dropdown-item" href="#">Pulseiras</a>
                                    <a class="dropdown-item" href="#">Porta-Copos</a>
                                </div>
                            </li>

                            <li class="nav-item px-2">
                                <a class="nav-link" href="">Promoções</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="" aria-disabled="true">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="conteudoPagina">
        <main role="main">
            <div id="consertaHeader">
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="text-center">
            &copy; 2021 - TsukiWeb
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>